* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /*height: 100%;*/
}

body {
    background-color: #F7CCAC;
    font-family: 'Oxygen', sans-serif;
    /*height: 100%;*/
}

a {
    color: #3A3845;
    text-decoration: none;
}

a:link {}

a:visited {}

a:focus {}

a:hover {
    background-color: #C69B7B;

}

a:active {}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3A3845;
}


p {
    line-height: 1.5rem;
}

@media (max-width: 792px) {
    p {
        line-height: 100%;
    }

}

table {
    margin-top: 2rem;
}

td {
    text-align: center;
}

th {
    text-align: center;
    font-weight: bold;
    background-color: #C69B7B;
    padding: 1rem;
    border-collapse: collapse;
}


.accordion {
    width: 100%;
}

.accordion-box {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 2rem;
    visibility: hidden;
    display: none;
    transition-delay: 0.2s;
    transition-property: visibility;
}

.accordion-box>ul {
    padding: 1rem 3%;
    margin-right: auto;
    margin-left: 3rem;
}

@media (max-width: 792px) {
    .accordion-box>ul {
        padding: 1rem 15% 1rem 0;
    }
}

.accordion-box-icons {
    height: 1.5rem;
    width: 1.5rem;
    float: right;
}

.accordion-icons {
    height: 1.5rem;
    width: 1.5rem;
    align-self: right;
}

.accordion-list {
    margin-top: 2rem;
    padding-left: 3rem;
    line-height: 1.5rem;

}

@media (max-width: 792px) {
    .accordion-list {
        line-height: 100%;
        margin-top: 0;
    }
}

.accordion-table {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 792px){
    .accordion-table td {
        overflow: hidden;
    }
}

.accordion-text {
    padding-left: 1rem;
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    cursor: pointer;
}

/*.bio-article {
    height: 100%;
}*/
.box-arrow {
    float: right;
}
.conferences{
    margin-top: 20%;
}

.container_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*height: 100%;*/
    gap: 10rem;
    padding-left: 10%;
    flex-wrap: wrap;
}

@media (max-width: 792px) {
    .container_1 {
        clear: both;
        padding-left: 2%;
        justify-content: safe left;
    }
}

/*.cont-skills{

    height: 180%;
}*/

.conferences {
    align-self: center;
    margin-top: 20rem;
    line-height: 2rem;
}

.education {
    justify-content: center;
}

.footer {

    left: 0;
    height: 10rem;
    background-color: #826F66;
    color: #EEEBD9;
    text-align: center;
    margin-top: 20%;
}

@media (max-width: 792px){
    #contacts{
        position: fixed;
        bottom: 15%;
        min-width: 100%;
        margin-top: 0;
    }
}

.footer-icons {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
}

.footer_link {
    color: black;
}

.footer-text {
    text-align: center;
    color: black;
    padding-top: 3rem;
}

.footer-textbox {
    background-color: #826F66;
}



.index {
    list-style-type: none;
    text-align: left;
    padding-left: 1rem;
    position: fixed;
    top: 50%;
    max-width: 10%;
}

@media (max-width: 792px) {
    .index {
        text-align: center;
        list-style-type: none;
        line-height: 120%;
        position: fixed;
        min-height: 20%;
        padding-right: 15%;
        background-color: #826F66;
        min-width: 100%;
    }

}

@media (max-width: 792px) {
    .index>li {
        display: inline-block;
        margin: 2%;
    }
}



.in-text-img {
    max-width: 8rem;
    float: left;
}

@media (max-width: 792px) {
    .in-text-img {
        max-width: 20%;
    }
}

.list-box {
    margin: 1rem 3rem;
    background-color: #C69B7B;
    font-weight: bold;
    padding: 1rem;
    cursor: pointer;

}

.main-heading {
    text-align: right;
    font-size: 2rem;
    padding-top: 10%;
    padding-right: 10%;
    margin-bottom: 60%;
    /* height: 100%;*/
}

@media (max-width: 792px) {
    .main-heading {
        text-align: left;
        margin-right: 20%;
        font-size: 140%;
        font-style: normal;
    }
}

.main-heading p {}

.main-heading h5 {
    font-style: italic;
}

.main-page-icons {
    /*height: 80px;*/
    max-width: 10%;
    min-width: 4rem;
    display: block;
    margin-bottom: 8%;
    margin-top: 5%;
}

.main-text {

    display: inline-flex;
    /* flex: 0 0 50%;
    justify-content: center;*/
    padding-left: 5%;
    padding-right: 15%;
    margin-bottom: 30rem;

}




.main-text-link {
    text-decoration: underline;
}

.main-text-par {
    text-align: center;
    padding-left: 1rem;
    margin-top: 1rem;
}

.navbar {
    align-self: center;
    position: fixed;
    top: 50%;
    max-width: 80%;


}

@media (max-width: 792px) {
    .navbar {
        float: right;
        top: 88%;
    }
}
@media (max-width: 792px){
    .navbar_link {
        color: black;
        font-weight: bold;
    }
}

.personal-photo {
    /*height: 10rem;*/
    max-width: 25%;
    min-width: 6rem;
    border-radius: 100%;
    float: right;
    margin: 1rem 0 1rem 1rem;
}

.skill-div {
    height: 150%;
}

.skillset {
    flex: 20rem;
    align-self: center;
}

.table-first-column {
    text-align: left;
}

.text-with-img {
    text-align: center;
    padding-left: 1rem;

}

.ul-par {
    margin-bottom: 1rem;
    text-align: left;
}

.up-arrow {
    max-width: 2.5rem;
    position: fixed;
    float: right;
    bottom: 2rem;
    right: 2rem;
}

@media (max-width: 792px) {
    .up-arrow {
        max-width: 7%;
        right: 5%;
        bottom: 2%;
    }
}

.footer-notfirst {
    padding-top: 1rem;
}

.footer-last {
    padding-bottom: 2rem;
}

#accordion-box1 {
    transition: visibility;
}

#clojure {
    float: right;
}

#conf {
    list-style: none;
    line-height: 2rem;
}